
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFF, #CACACA);
}

#aof-title {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 50px;
}

#aof-subtitle {
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 20px;
}

.highlighted {
    filter: blur(50px);
    background-color: #00ee00;
}
