.info-wrapper {
    top: 0;
    position: absolute;
    height: 85vh;
    width: 100%;
    z-index: auto;
}

.fullscreen-bg__video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-text {
    position: absolute;
    top: 15rem;
    left: 0;
    font-family: raleway, sans-serif;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.info-line {
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
    margin-bottom: 10vh;
    width: 100%;
}

.first-line {
    margin-left: 220px;
}

.second-line {
    margin-left: 240px;
}

.third-line {
    margin-left: 260px;
}

.four-line {
    margin-left: 280px;
}

.annotation {
    cursor: pointer;
    font-weight: 600;
}

.info-line:hover {
    text-decoration: underline;
}

.info-popover__content {
    position: absolute;
    left: 7em;
    background-color: #FFFFFF;
    width: 80em;
    border: 1px solid black;
    font-size: 1.2rem;
    z-index: 4;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    top: -14rem;
}

.info-popover__content p {
    margin-left: 5rem;
    width: 90%;
}

.footNote {
    border: 1px solid #000000;
}

.styleParagragh::first-letter {
    font-size: 2.5rem;
    line-height: 1rem;
}

.first-popover {
    @extend .info-popover__content;
    height: 14rem;
}

.first-popover p {
    transform: translate(0, 3rem);
}

.second-popover {
    @extend .info-popover__content;
    height: 22rem;
}

.second-popover p {
    transform: translate(0, 9rem);
}

.third-popover {
    @extend .info-popover__content;
    height: 30rem;
}

.third-popover p {
    transform: translate(0, 9rem);
}

.fourth-popover {
    @extend .info-popover__content;
    height: 38rem;
}

.fourth-popover p {
    transform: translate(0, 18rem);
}
