<div class="info-panel">
    <div class="info-wrapper">

        <video loop muted autoplay poster="../../assets/poster.jpeg" class="fullscreen-bg__video">
            <source src="../../assets/bw_v3.mp4" type="video/mp4">
        </video>

        <div class="info-text">

            <div class="ten columns offset-by-three" style="font-size: 1.25em">
                The Analysis of Failure seminar was not so neatly clarified in Mark Jumper's mind.
            </div>
            <div class="eight columns offset-by-four" style="font-size: 1em">
                Here, we thoughtfully Reconduct his Analysis of Failure.
            </div>
            <div class="six columns offset-by-five" style="font-size: 0.75em">
                And Mark Jumper’s Reconstructions become infinite.
            </div>
            <div class="four columns offset-by-six" style="font-size: 0.5em">
                Because One can only be achieved by combining All.
            </div>
        </div>
    </div>

</div>
