.info-panel {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.info-wrapper {
    position: relative;
    height: 75vh;
}

.fullscreen-bg__video {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-text {
    position: absolute;
    top: 10vh;
    left: 0;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    height: 100%;
}

.info-line span {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10vh;
}

.info-popover__content {
    position: absolute;
    top: -10vh;
    margin-bottom: 1vh;
    background-color: #FFFFFF;
    width: 50%;
    z-index: 10000;
    border: 1px solid black;
    font-size: 1.5rem;
}

.info-popover__content p::first-letter {
    font-size: 2em;
}

