.container {
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFF, #CACACA);
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.aof-title {
    padding-top: 0.1rem;
    margin: auto;
    text-align: center;
    font-size: 3em;
    text-indent: 1.1em;
    letter-spacing: 1.1em;
    user-select: none;
}

.aof-subtitle {
    margin: auto;
    text-align: center;
    text-indent: 0.9em;
    letter-spacing: 0.9em;
    user-select: none;
}

.aof-ui-element {
    text-align: center;
}

.aof-button-subtitle {
    padding-top: 5px;
    text-align: center;
    align-content: center;
    font-size: 0.8em;
    letter-spacing: 0.5em;
    line-height: 1em;
}

.volume {
    max-width: 100%;
    max-height: 3em;
    cursor: pointer;
    margin-top: -5px;
}

.press, img, .press:focus, img:focus {
    outline: 0 !important;
    border: 0 none !important;
    margin-bottom: 0.25em;
}

.stop-btn {
    outline: 0;
    border: 0 none;
    margin-bottom: 0.5em;
    padding: 0 0;
    cursor: pointer;
    background-color: #000;
    width: 2em;
    height: 2em;
}
