<div class="container">
    <div class="aof-top">
        <span class="twelve columns aof-title aof-top">
            A <a href="../">o</a> F
        </span>
    </div>
    <div class="aof-top">
        <span class="twelve columns aof-subtitle aof-top">DATA RECOLLECTION</span>
    </div>

    <div class="eight rows offset-by-two">
        <div class="twelve columns">
            <app-cy-renderer [hidden]="showInfo"></app-cy-renderer>
            <app-info *ngIf="showInfo" [@enterAnimation]></app-info>
        </div>
    </div>

    <div class="controls one row">
        <!-- VOLUME -->
        <div class="one column offset-by-one">
            <div class="aof-ui-element" (click)="toggleMute()">
                <i class="fa fa-lg" [ngClass]="muted ? 'fa-volume-off' : 'fa-volume-up'"></i>
            </div>
            <div class="aof-button-subtitle">&nbsp;</div>
        </div>

        <!-- RECYCLE -->
        <div class="two columns">
            <div class="aof-ui-element" (click)="rebuildNodes()">
                <i class="fa fa-lg fa-refresh"></i>
                <div class="aof-button-subtitle">
                    Cycle Nodal Relationships
                </div>
            </div>
        </div>

        <!-- BRANCHING -->
        <div class="two columns">
            <nouislider class="slider"
                        [connect]="true"
                        (update)="updateBranchingProbability($event)"
                        (change)="rebuildNodes()"
                        [step]=0.05
                        [min]=0
                        [max]=1
                        [(ngModel)]="nodeService.branchingProbability"></nouislider>
            <div class="aof-slider-subtitle">Recall&nbsp;Inefficiency<br />{{nodeService.branchingProbability.toPrecision(2)}}
            </div>
        </div>

        <!-- COUNT -->
        <div class="two columns">
            <nouislider *ngIf="nodeService.sampleCount"
                        [connect]="true"
                        (update)="updateTotalNodeCount($event)"
                        (change)="rebuildNodes()"
                        [step]=1
                        [min]="nodeService.numTypes"
                        [max]="nodeService.sampleCount"
                        [(ngModel)]="nodeService.nodeCount"></nouislider>
            <div class="aof-slider-subtitle">Data&nbsp;Points<br />{{nodeService.nodeCount}}</div>
        </div>

        <!-- STOP BUTTON -->
        <div class="two columns">
            <div class="aof-ui-element" (click)="stopAll()">
                <i class="fa fa-lg fa-stop"></i>
                <div class="aof-button-subtitle">Interrupt Process</div>
            </div>
        </div>
        <!-- INFO BUTTON -->
        <div class="one column">
            <div class="aof-ui-element info-btn" (click)="toggleInfo()">i</div>
        </div>
    </div>

</div>
