.container {
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFF, #CACACA);
}

.aof-title {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-indent: 1.1em;
    letter-spacing: 1.1em;
}

.aof-subtitle {
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-indent: 0.9em;
    letter-spacing: 0.9em;
}

pre, [nouislider] {
    margin: 15px 0;
}
