.container {
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFF, #CACACA);
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.aof-title {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    text-indent: 1.1em;
    letter-spacing: 1.1em;
}

.aof-subtitle {
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-indent: 0.9em;
    letter-spacing: 0.9em;
}

.aof-ui-element {
    z-index: 55;
    min-height: 46px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: none;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

.aof-button-subtitle {
    z-index: 55;
    min-height: 46px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: none;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

.press, img, .press:focus, img:focus{
    outline: 0 !important;
    border:0 none !important;
}

pre, [nouislider] {
    margin: 15px 0;
}
