.container {
    margin: auto;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #FFF, #CACACA);
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    user-select: none;
}

.aof-title {
    position: absolute;
    padding-top: 0.1rem;
    margin: auto;
    text-align: center;
    font-size: 2.4em;
    text-indent: 0.9em;
    letter-spacing: 0.9em;
    user-select: none;
}

.aof-subtitle {
    position: absolute;
    top: 5rem;

    margin: auto;
    text-align: center;
    text-indent: 0.9em;
    letter-spacing: 0.9em;
    user-select: none;
}

.aof-top {
    z-index: 2;
}

.aof-ui-element {
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.aof-ui-subtitle {
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 0.8rem;
    text-indent: 0.5rem;
    letter-spacing: 0.5rem;
    line-height: 1rem;
}

.aof-button-subtitle {
    @extend .aof-ui-subtitle;
    display: block;
}

.aof-slider-subtitle {
    @extend .aof-ui-subtitle;
    display: block;
}

.info-btn {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    cursor: pointer;
    transform: translate(0, -25%);
}

app-cy-renderer {
    position: relative;
    top: 5rem;
}
