<div class="container">
    <div class="one row">
        <span class="twelve columns aof-title">A o F</span>
    </div>
    <div class="one row">
        <span class="twelve columns aof-subtitle">DATA RECOLLECTION</span>
    </div>

    <div class="eight rows">
        <div class="twelve columns">
            <app-cy-renderer></app-cy-renderer>
        </div>
    </div>

    <div class="controls one row">

        <!-- RECYCLE -->
        <div class="one column offset-by-three">
            <div class="aof-ui-element">
                <input class="press" type="image" src="assets/images/recycle.png" (click)="rebuildNodes()" />
                    <div class="aof-button-subtitle">
                     Cycle
                    </div>
            </div>
        </div>

        <!-- BRANCHING -->
        <div class="two columns">
            <nouislider [connect]="true"
                        (change)="updateBranchingProbability($event); rebuildNodes()"
                        [step]=0.05
                        [min]=0
                        [max]=1
                        [(ngModel)]="nodeService.branchingProbability"></nouislider>
            <div class="aof-button-subtitle">
                Branches
            </div>
        </div>

        <!-- COUNT -->
        <div class="two columns">
            <nouislider [connect]="true"
                        [step]=0.05
                        [min]=0
                        [max]=1
                        [(ngModel)]="howlerService.volume"></nouislider>
            <div class="aof-button-subtitle">
                Volume
            </div>
        </div>

        <!-- STOp BUTTON -->
        <button class="one column" (click)="stopAll()">STOP</button>
    </div>
</div>
