@import "~nouislider/distribute/nouislider.css";
@import "~skeleton-css/css/normalize.css";
@import "~skeleton-css/css/skeleton.css";

.container {
    max-width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-variant-ligatures: no-common-ligatures;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.noUi-background.noUi-vertical {
    height: 200px;
    width: 16px;
    margin: 0 auto 30px;
}

.noUi-horizontal.noUi-extended {
    padding-right: 32px;
}

.noUi-horizontal.noUi-extended .noUi-handle {
    left: -1px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
    right: -32px;
}

.noUi-base .noUi-connect {
    background-color: #81DDBE;
}

.noUi-target {
    background-color: #000;
    height: 4px;
    border-left: solid #000 2px;
    border-right: solid #000 2px;
}

.noUi-base .noUi-handle {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid black;
    display: table;
    font-size: 15px;
    height: 3rem;
    width: 0.5rem;
    left: 0;
    margin-left: 0px;
    margin-top: -14px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
}

.noUi-horizontal .noUi-base .noUi-handle {
    cursor: ew-resize;
}

.noUi-vertical .noUi-base .noUi-handle {
    cursor: ns-resize;
    margin-left: -8px;
}

.noUi-base .noUi-handle.noUi-active {
    //background-color: #000;
    z-index: 3;
}

.noUi-base .noUi-handle::before {
    background: transparent;
    content: attr(data-value);
    display: table-cell;
    font-size: 14px;
    font-weight: 100;
    position: static;
    width: 100%;
    vertical-align: middle;
}

.noUi-base .noUi-handle::after {
    display: none;
}

